.navHomeItems {
    background-color: $color-white;
  @include breakpointNav {
    display: flex;
    font-size: 1.5rem;
  }
  &:first-of-type {
    border-bottom: 1px solid black;
    @include breakpointNav {
      border-bottom: none;
      font-size: 2rem;
    }
  }

  &__item {
    display: block;
    margin: $space-small;
    padding-bottom: $space-small/4;
    text-decoration: 0;
    color: $color-black;
    &:hover {
      background-color: $color-accent;
      transition-duration: 350ms;
    }
    @include breakpointNav {
      border-bottom: 2px solid transparent;
      margin: 0 $space-small;
      &:hover {
        border-bottom: 2px solid $color-accent;
        background-color: transparent;
      }
    }
  }
}
