.navHomeItems {
  width: 100%;
  background-color: $color-white;
  &:first-of-type {
    border-bottom: 1px solid black;
  }

  @include breakpointNav {
  display: none;
  }
  & .item {

    display: block;
    padding: $space-small/2 $space-small;;
    text-decoration: 0;
    color: $color-black;
    
    &:hover {
      background-color: $color-primary;
    }
    @include breakpointNav {
    }
  }
  & .item--log {
    @include breakpointNav {
    }
  }
}
