.navHomeItems {
  &:first-of-type {
    border-bottom: 1px solid black;
    @include breakpointNav {
      border-bottom: none;
      font-size: 2rem;
    }
  }
  @include breakpointNav {
    display: flex;
    font-size: 1.5rem;
  }

  &__item {
    display: block;
    padding: $space-small/2 $space-small;
    text-decoration: 0;
    color: $color-black;
    &:hover {
      background-color: $color-primary;
    }
  }
}
