.reactionsHome__emptyTableMessage {
  display: grid;
  place-items: center;
  font-weight: $font-weight-bold;
  height: 24rem;
  text-align: center;
}
.reactionsHome__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  height: 24rem;
  margin: 0 auto;

  .reactionsHome__table {
    border-collapse: collapse;
    width: 100%;
    & thead tr {
      width: 100%;
      display: flex;
      padding: $space-small;
    }
    & th {
      width: 100%;
    }
    & tbody {
      display: flex;
      flex-direction: column;
      & tr {
        display: flex;
        padding: $space-small/2;
        border-top: 1px solid $color-neutral-dark;

        & td {
          width: 100%;
          text-align: center;
          @include breakpointFirst {
            font-size: $font-size-small;
          }
          & .reactionsHome__solventIdx {
            font-size: $font-size-xsmall;
            line-height: 6px;
            vertical-align: -0.4em;
          }
        }
      }
    }
  }
}
