.paginationHome__btns {
  display: flex;
  justify-content: center;
  column-gap: $space-small/2;
  margin: $space-small auto $space-small/2 auto;

  .paginationHome__btn {
    width: 30%;
    max-width: 125px;
    padding: 1em 0;
    letter-spacing: 2px;
    background-color:#0000 ;
    &:hoover {
      background-color: $color-button;
    }
    &:focus {
      box-shadow: $box-shadow;
      color: $color-white;
      background-color: $color-button;
    }
  }
}
