.reactionsHome__btns {
  display: flex;
  justify-content: center;
  column-gap: $space-small/2;
  margin-top: $space-large;

  .reactionsHome__btn {
    width: 10%;
    padding: 1em 0;
    letter-spacing: 2px;
    &:hoover {
      box-shadow: $box-shadow;
    }
    &:focus {
      box-shadow: $box-shadow;
      color: $color-white;
      background-color: $color-button;
    }
  }
}
