.tableReactions__table {
  height: calc(100% - 2rem - $space-small/2);
  display: flex;
  flex-direction: column;
  @include breakpointNav {
    padding-left: 70px;
  }
}

// Table head

.tableReactions__table thead tr {
  display: flex;
  padding: $space-small/2 0;
  line-height: 2rem;
  background-color: $color-neutral-secondary-dark;
}

.tableReactions__table thead tr td {
  display: none;
  font-weight: 900;
  padding-left: $space-small/2;
  width: 100%;
  &:nth-child(-n + 3) {
    display: block;
  }
  &:first-child {
    width: 30%;
  }
  &:last-child {
    display: block;
    width: 50%;
  }

  @include breakpointNav {
    &:nth-child(-n + 6) {
      display: block;
    }
    &:nth-child(5) {
      width: 50%;
    }
  }
  @include breakpointTable {
    &:nth-child(n + 5):nth-child(-n + 8) {
      display: block;
    }
  }
}

// Table body

.tableReactions__table tbody {
  height: 100%;
  overflow-x: auto;
  display: block;
  border-collapse: collapse;
  &::-webkit-scrollbar {
    display: none;
  }
}
.tableReactions__table tbody tr {
  display: flex;
  padding: $font-size-small 0;

  &:nth-child(even) {
    background-color: $color-neutral-secondary-light;
  }
}

.tableReactions__table tbody tr td {
  display: none;
  padding-left: $space-small/2;
  height: $font-size-small + 2rem;
  width: 100%;
  &:nth-child(-n + 3) {
    display: block;
  }
  &:first-child {
    width: 30%;
  }
  &:last-child {
    display: flex;
    width: 50%;
  }

  @include breakpointNav {
    &:nth-child(-n + 6) {
      display: block;
      height: $font-size-small + 2rem + 0.8rem;
    }
    &:nth-child(5) {
      width: 50%;
    }
  }
  @include breakpointTable {
    &:nth-child(n + 5):nth-child(-n + 8) {
      display: block;
      height: fit-content;
    }
  }
}

// Table btns

.tableReactions__btn {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  padding-right: $space-small/3;
  &--edit {
    color: $color-accent;
  }
  &--trash {
    color: rgba(238, 28, 24, 0.6);
  }
}
