.tableReactions__table {
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px);
  @include breakpointNav {
    padding-left: 70px;
  }
}

// Table head

.tableReactions__table thead tr {
  display: flex;
  padding: $space-small/2 0;
  background-color: $color-neutral-secondary-dark;
  line-height: 2rem;
}

.tableReactions__table thead tr td {
  display: none;
  width: 100%;
  padding-left: $space-small/2;
  font-weight: 900;
  &:nth-child(-n + 3) {
    display: block;
  }
  &:first-child {
    width: 30%;
  }
  &:last-child {
    display: block;
    width: 50%;
  }

  @media (min-width: 650px) {
    &:nth-child(-n + 4) {
      display: block;
    }
  }

  @include breakpointNav {
    &:nth-child(-n + 6) {
      display: block;
    }
  }
  @include breakpointTable {
    &:nth-child(n + 5):nth-child(-n + 8) {
      display: block;
    }
  }
}

// Table body

.tableReactions__table tbody {
  border-collapse: collapse;
  display: block;
  position: relative;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.tableReactions__table tbody tr {
  display: flex;
  position: relative;
  padding: $font-size-small 0 $font-size-small/2 0;
  &:nth-child(even) {
    background-color: $color-neutral-secondary-light;
  }
}

.tableReactions__table tbody tr td {
  display: none;
  width: 100%;
  height: $font-size-small + 2rem + 0.8rem;
  padding-left: $space-small/2;
  &:nth-child(-n + 3) {
    display: block;
  }
  &:first-child {
    width: 30%;
  }
  &:last-child {
    display: flex;
    width: 50%;
  }

  @media (min-width: 650px) {
    &:nth-child(-n + 4) {
      display: block;
    }
  }

  @include breakpointNav {
    &:nth-child(-n + 6) {
      display: block;
    }
  }
  @include breakpointTable {
    &:nth-child(n + 5):nth-child(-n + 8) {
      display: block;
      height: fit-content;
    }
  }
}

// Table btns

.tableReactions__btn {
  padding-right: $space-small/3;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  &--edit {
    color: $color-accent;
  }
  &--trash {
    color: rgba(238, 28, 24, 0.6);
  }
}

// Http requests in tr

.httpLoadingInRow:before {
  backdrop-filter: blur(4px);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.httpLoadingInRow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: $font-size-small + 2rem + 0.8rem;
  animation: loading 1s infinite linear;
  background-image: url("../../../asets/loading.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.httpErrorInRow:before {
  backdrop-filter: blur(4px);
  content: "Błąd";
  position: absolute;
  width: 100%;
  height: $font-size-small + 2rem + 0.8rem;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-red;
  text-align: center;
  letter-spacing: 2px;
}

// Alert

html body.swal2-height-auto {
  padding-right: 0px !important;
  height: 100% !important;
}
