.tableReactions__table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
  @include breakpointNav {
      padding-left: 70px;
  }
}

// Table head

.tableReactions__table thead {
    display: none;
  @include breakpointNav {
      display: block;
      padding: $space-small/2 0;
      background-color: $color-neutral-secondary-dark;
      line-height: 2rem;
  }
}
.tableReactions__table thead tr {
    display: flex;
}
.tableReactions__table thead tr th {
  @include breakpointNav {
      width: 100%;
      padding-left: 0.3rem;
      font-size: $font-size-small;
      text-align: left;
    &:first-child {
        width: 25%;
    }
    &:nth-child(6) {
        width: 60%;
    }
    &:last-child {
        width: 70%;
    }
  }
}

// Table body

.tableReactions__table tbody {
    display: block;
    overflow-x: auto;
    border-top: 10px solid $color-neutral-secondary-dark;
  &::-webkit-scrollbar {
      display: none;
  }
  @include breakpointNav {
      border-top: none;
  }
}
.tableReactions__table tbody tr {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 320px;
  &:nth-of-type(even) {
      background-color: rgba(221, 223, 227, 0.8);
  }
  @include breakpointNav {
      flex-direction: row;
      height: auto;
      padding: $space-small/2 0 0 0;
  }
}

.tableReactions__table tbody tr td {
    display: flex;
    height: 33px;
    margin-top: 0.3rem;
    font-size: $font-size-small;
  &:before {
      content: attr(data-cell);
      display: inline-block;
      min-width: 45%;
      padding-left: $space-small;
      font-weight: $font-weight-bold;
  }
  &:nth-child(3) {
      display: block;
  }
  &:last-child {
      margin-top: auto;
  }

  @include breakpointNav {
      width: 100%;
      height: 40px;
      margin-top: 0;
      padding-left: 0.3rem;
      font-size: $font-size-small;
    &:first-child {
        width: 25%;
    }
    &:nth-child(6) {
        width: 60%;
    }
    &:nth-child(8) {
        height: fit-content;
    }
    &:last-child {
        width: 70%;
        margin-top: 0;
    }

    &:before {
        content: "";
        display: none;
    }
  }
}

// // Table btns

.tableReactions__btn {
    margin-left: auto;
    padding-right: $space-small/3;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.5rem;
  @include breakpointNav {
      margin-left: 0;
      font-size: 2rem;
  }
  &--edit {
      color: $color-accent;
  }
  &--trash {
      margin: 0 $space-small;
      padding-right: 0;
      color: rgba(238, 28, 24, 0.6);
    @include breakpointNav {
        margin-left: 0;
    }
  }
}

// Http requests print in tr

.httpLoadingInRow:before {
    backdrop-filter: blur(4px);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.httpLoadingInRow:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: $font-size-small + 2rem + 0.8rem;
    animation: loading 1s infinite linear;
    background-image: url("../../../asets/loading.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  @include breakpointNav {
      top: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.httpErrorInRow:before {
    backdrop-filter: blur(4px);
    content: "Błąd";
    position: absolute;
    width: 100%;
    height: $font-size-small + 2rem + 0.8rem;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-red;
    text-align: center;
    letter-spacing: 2px;
}

// Alert

html body.swal2-height-auto {
    height: 100% !important;
    padding-right: 0px !important;
}

.swal2-popup {
    border-radius: 0 !important;
}

.tableReactions__alertTitle {
    color: $color-black !important;
}

.tableReactions__alertConfirmButton,
.tableReactions__alertCancelButton {
    padding: 1em 3em !important;
    border-radius: 0 !important;
}

.tableReactions__alertConfirmButton {
    margin-right: 2rem !important;
}

.tableReactions__alertCancelButton {
    margin-left: 2rem !important;
}
