.navSingedIn {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 80vh;

  &__top {
    background-color: $color-white;
    padding: $space-large;
    & .navSingedIn__icon {
      font-size: $font-size-large * 2;
    }
  }
}
