.footer {
  background-color: $color-primary;
  font-size: $font-size-small;
  color: $color-black;
  padding: $space-small/2;
  display: grid;
  place-items: center;
  &__link {
    text-decoration: 0;
    display: flex;
    align-items: center;
    color: $color-black;
    padding: $space-small 0;
  }
  &__icon {
    margin-left: 0.5em;
  }
}
