.navAsideItems {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 0;
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: $space-large 0;
  transition: 700ms;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  @include breakpointNav {
    &:hover .navAsideItems__signIn {
      width: 30rem;
      margin-left: 0%;
      transition: 700ms;
      font-size: $font-size-xsmall;
      &:hover {
        transition: 200ms;
        font-size: calc($font-size-xsmall + 0.2rem);
      }
    }
    &:hover .navAsideItems__item {
      width: 30rem;
      margin-left: 0;
      transition: 700ms;
    }
    &:hover .navAsideItems__name {
      margin-left: 0;
      transition: 700ms;
    }
  }

  &__close {
    margin-left: -100%;
    @include breakpointNav {
      margin-left: 0;
    }
  }
}

.navAsideItems__signIn {
  height: $font-size-xsmall;
  margin-bottom: $space-small;
  margin-left: 0%;
  cursor: pointer;
  font-size: $font-size-xsmall;
  color: $color-neutral-secondary-light;
  text-align: center;
  letter-spacing: 0.15rem;
  &:hover {
    transition: 200ms;
    font-size: calc($font-size-xsmall + 0.2rem);
    color: $color-white;
  }
  @include breakpointNav {
    width: 0;
    height: $font-size-xsmall;
    margin-left: -800%;
    font-size: 0;
  }
}

.navAsideItems__item {
  width: auto;
  &:hover {
    background-color: $color-neutral-dark;
  }
  &:hover .navAsideItems__icon {
    transition: 200ms;
    font-size: 2.7rem;
    color: $color-white;
  }
  @include breakpointNav {
    width: 7rem;
    transition: 700ms;
  }

  & a {
    display: flex;
    align-items: center;
    color: $color-neutral-secondary-light;
  }
}

.navAsideItems__icon {
  width: 2.7rem;
  padding: 0 $space-small;
}

.navAsideItems__name {
  padding: $space-small;
  padding-left: $space-small * 2;
  @include breakpointNav {
    margin-left: -800%;
  }
}
