.editForm__textInputContainer {
    position: relative;
    width: 100%;
  & input[type="time"] {
      width: 130px;
      font-size: $font-size-small;
  }
}

.editForm__textInput {
    caret-color: $color-black;
    position: relative;
    z-index: 1;
    overflow-x: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 2px solid $color-neutral-secondary-dark;
    font-size: $font-size-small;
    font-family: $font-family-Open-Sans;
  &--solvent {
      color: transparent;
  }
  @include breakpointNav {
      font-size: $font-size-small;
  }
}
.editForm__solventCellDisplay {
    display: flex !important;
}

.editForm__inputWrapper .editForm__printSolvent {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
  @include breakpointNav {
      font-size: $font-size-small;
  }

  & .solventIdx {
      display: flex;
      align-items: flex-end;
      height: 2rem;
      padding: 0 0.1rem;
  }
}

.editForm__error {
    height: $font-size-xxsmall;
    margin-top: 0.1rem;
    font-size: $font-size-xxsmall;
    line-height: $font-size-xxsmall;
    color: $color-red;
  @include breakpointNav {
      height: $font-size-xxsmall;
      font-size: $font-size-xxsmall;
      line-height: $font-size-xxsmall;
  }
}
