.editForm__textInputContainer {
  width: 100%;
  position: relative;
  & input[type="date"],
  & input[type="time"] {
    font-size: $font-size-small;
    width: 130px;
  }
}

.editForm__textInput {
  width: 100%;
  font-size: $font-size-primary;
  font-family: $font-family-Open-Sans;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 2px solid $color-neutral-secondary-dark;
  caret-color: $color-black;
  position: relative;
  z-index: 1;
  overflow-x: auto;
  &--solvent {
    color: transparent;
    // color: red;
  }
  @include breakpointNav {
    font-size: $font-size-small;
  }
}
.editForm__solventCellDisplay {
  display: flex !important;
}

.editForm__inputWrapper .editForm__printSolvent {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  display: flex;
  font-size: $font-size-primary;
  @include breakpointNav {
    font-size: $font-size-small;
  }

  & .solventIdx {
    display: flex;
    align-items: flex-end;
    height: 2.5rem;
    padding: 0 0.3rem;
    @include breakpointNav {
      padding: 0 0.1rem;
      height: 2rem;
    }
  }
}

.editForm__error {
  color: $color-red;
  font-size: $font-size-xsmall;
  line-height: $font-size-xsmall;
  height: $font-size-xsmall;
  margin-top: 0.3rem;
  @include breakpointNav {
    font-size: $font-size-xxsmall;
    line-height: $font-size-xxsmall;
    height: $font-size-xxsmall;
  }
}
