.navAside__icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: $font-size-large * 3;
  padding: $space-small/2;
  border: 1px solid $color-accent;
  border-radius: 50%;
  box-shadow: $box_shadow;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  z-index: 1;
  @include breakpointNav {
    display: none;
  }
}
