@import "../tableHeader/tableHeader";
@import "../tableReactions/tableReactions";
@import "../tableEditForm/tableEditForm";
@import "../requestMesageTableBody/tableBodyRequestMessage";

.tableReactions__main {
  height: calc(100% - $font-size-small - ($space-small * 2));
  display: flex;
  flex-direction: column;
}
