@import "../_indexFormReaction/reactionInputsGeneric";
@import "../step_4/step_4";

.formReaction {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - $font-size-small - ($space-small * 2));
  .wrapper--formReactionHeader {
    background-color: $color-neutral-light;
  }
  &__stepIdx,
  &__topDescription {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    font-size: 2rem;
    @include breakpointNav {
      max-width: 400px;
    }
  }

  &__stepIdx {
    font-size: $font-size-small;
  }

  // Form

  &__form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    height: 100%;
    padding: 0;
    font-weight: $font-weight-bold;
    color: $color-white;
    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 100%;
      background-color: $color-neutral-light;
      background-image: url("../../../asets/hero-small-—-kopia.webp");
      background-size: cover;
      background-position: center;
      @include breakpointNav {
        background-image: url("../../../asets/hero_large-—-kopia.webp");
      }
    }
    &:before {
      left: 0;
    }

    &:after {
      right: 0;
      transform: scaleX(-1);
    }

    &--loading {
      filter: blur(1.5rem);
    }
  }
  &__opacity {
    place-items: center;
    display: grid;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &__wrapper {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $space-small $space-large;
    background-color: rgba(255, 255, 255, 0.4);
    @include breakpointNav {
      width: 400px;
      max-height: 500px;
    }
  }

  // Http Request

  &__requestMessage {
    place-items: center;
    display: grid;
    height: 100%;
    color: $color-white;
    text-align: center;
  }

  &__loading {
    display: grid;
    place-items: center;
    width: 100px;
    height: 100%;
    background-image: url("../../../asets/loading.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: loading 2s infinite linear;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  // Btns

  &__btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    .btn--formReaction {
      width: 40%;
      padding: 0.5em 0;
      background-color: transparent;
      color: $color-white;
      &:hover {
        background-color: $color-button;
      }
      &:focus {
        background-color: $color-button;
        border: 2px solid $color-button;
      }
    }
  }
}
