.btn {
  font-weight: $font-weight-bold;
  border: 2px solid $color-accent;
  letter-spacing: 0.2rem;
  background-color: transparent;
  padding: 0.5em 0;
  transition: transform 500ms;
  &:hover {
    border: 2px solid $color-button;
    background-color: $color-button;
    color: $color-white;
    transform: translateY(-3.5px);
  }
   &:active {
      border: 2px solid $color-button;
      background-color: $color-button;
      color: $color-white;
    }
}
