.btnsLogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: $space-small;
  .btn--login {
    padding: 1em 0;
    width: 40%;
    text-decoration: 0;
    font-family: $font-family-Open-Sans;
    color: $color-black;
    font-size: $font-size-small;
    &:hover {
      color: $color-white;
    }
  }
}
