@import "../../components/btnsLogin/btnsLogin";

.login {
  max-height: calc(100% - $font-size-small - ($space-small * 2));
  height: 100%;
  min-height: 500px;
  background-image: url("../../asets/microscope-largre.jpg");
  background-position: right top;
  background-size: cover;
  padding: 0;
  &__opacity {
    height: calc(100% - (5rem + 24px));
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginForm {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 234, 236, 0.6);
    color: $color-black;
    padding: $space-small;

    @include breakpointFirst {
      height: fit-content;
    }

    .loginForm__title {
      padding-bottom: $space-small/2;
    }

    &__inputContainer {
      width: 70%;
    }
    &__label {
      display: block;
      margin-bottom: $space-small/3;
      width: 100%;
      font-weight: $font-weight-bold;
    }
    &__input {
      width: 100%;
      padding: 0.5em;
      border: 0;
      &:focus {
        background-color: $color-neutral-light;
      }
    }
    &__error {
      width: 70%;
      height: $font-size-small + ($space-small/3) * 2;
      padding: $space-small/3 0;
      font-size: $font-size-small;
      line-height: $font-size-small;
      color: $color-red;
    }
  }
}
