.step4__header {
  font-weight: $font-weight-bold;
  font-size: 3rem;
}
.step4__subHeader {
    font-weight: $font-weight-bold;
}
.step4__reactionItem {
  .step4__reactionProperty {
    text-align: right;
    display: inline-block;
    width: 50%;
  }
  .step4__reactionValue {
    text-align: left;
    font-weight: $font-weight-bold;
    display: inline-block;
    width: 50%;
  }
}

