.step4 {
  width: 100%;
}

.step4__header {
  font-weight: $font-weight-bold;
  font-size: 3rem;
}
.step4__subHeader {
  font-weight: $font-weight-bold;
}
.step4__reactionItem {
  width: 100%;
  .step4__reactionProperty {
    display: inline-block;
    width: 50%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .step4__reactionValue {
    display: inline-block;
    width: fit-content;
    text-align: left;
    padding: 0 1em 0 0.5em;
    font-weight: $font-weight-bold;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
