.header {
  background-color: rgb(79, 199, 223);
  background-image: url("../../../asets/5a224075d268a2.3665670315121941658618.png");
  background-position: center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    color: $color-white;
    margin-left: clamp(4rem, 15vw, 20%);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__btns {
    margin-left: clamp(4rem, 15vw, 20%);
    display: flex;

    .header__btn {
      padding: 1em 2em;
      font-size: 1rem;
      font-family: $font-family-Open-Sans;
      font-weight: 700;
      letter-spacing: 0.3em;
      margin-right: 2em;
      background-color: $color-white;
    }
  }
}
