.contact {
  @include breakpointFirst {
    background-image: url("../../../../asets/pexels-karolina-grabowska-4021770.jpg");
    background-position: right;
    background-size: cover;
    padding: 0;
  }

  &__opacity {
    @include breakpointFirst {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 0;
    }
  }
}
