.contact {
  @include breakpointFirst {
    background-image: url("../../../../asets/scott-graham-OQMZwNd3ThU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    //  transform: scaleX(-1);
  }

  &__opacity {
    @include breakpointFirst {
      height: 100%;
      margin: 0;
      background-color: rgba(255,255,255,0.6);
    }
  }
}
