.contactformContainer {
  margin: $space-large auto;
  @include breakpointNav {
    box-shadow: -4px -2px 14px 11px white;
    width: 50%;
    margin: 0;
    margin-left: auto;
    padding: 7rem 4rem;
  }
  &__title {
    margin-bottom: $space-large;
    font-size: $font-size-large;
    text-align: center;
  }
  .contactForm {
    padding: 0 $space-small;
    @include breakpointFirst {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__inputWrapper {
      width: 100%;
      @include breakpointFirst {
        width: 45%;
      }
    }
    &__inputContainer {
      width: 100%;
    }
    &__label {
      display: block;
      margin-bottom: $space-small/2;
      font-weight: $font-weight-bold;
    }
    &__input {
      resize: none;
      width: 100%;
      padding: 0.2rem;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-bottom: 1px solid black;
      &:focus {
        background-color: $color-neutral-light;
      }
    }

    &__inputContainer--textarea {
      @include breakpointFirst {
        width: 100%;
        margin-top: $space-small;
      }
    }

    .contactForm__input::placeholder {
      font-family: $font-family-Open-Sans;
      color: rgba(0, 0, 0, 0.4);
    }

    &__error {
      width: 100%;
      height: $font-size-small;
      font-size: $font-size-small;
      line-height: $font-size-small;
      color: $color-red;
    }

    &__btn {
      display: flex;
      justify-content: center;
      width: 45%;
      margin-top: 1rem;
      margin-left: auto;
      &:active {
        color: $color-black;
      }
    }
  }
}
