html,
body,
#root {
  font-size: 2rem;
  height: 100%;
}

.wrapper {
  width: clamp(280px, 100%, 1350px);
  margin: 0 auto;
  padding: 0 $space-small;
}

input,
textarea,
label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}
