$font-family-Open-Sans: "Open Sans", sans-serif;

$font-size-large: 2.5rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1.2rem;

$space-small: 2rem;
$space-large: 4rem;

$color-primary: rgb(79, 199, 223);
$color-white: rgb(255 255 255);
$color-black: rgb(0 0 0);
