$font-family-Open-Sans: "Open Sans", sans-serif;

$font-size-large: 2.5rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1.2rem;

$space-small: 2rem;
$space-large: 4rem;


$color-primary:rgb(242,243,245);
$color-white: rgb(255 255 255);
$color-black: rgb(0 0 0);
$color-grey: rgb(156,156,156);
$color-red:rgb(251,0,0);
$color-blue: rgb(208,244,270);

$color-accent:rgb(31, 180, 255);
$color-button: rgb(0,150,224);
$color-neutral-dark: rgb(77,84,96);
$color-neutral-light:rgb(233,234,236);
$color-neutral-secondary-dark: rgb(142,151,164);
$color-neutral-secondary-light: rgb(221,223,227);

$box-shadow: 0px 0px 4px 2px rgb(156,156,156);

$font-weight-bold: 600;