@import "../formReaction/reactionInputsGeneric";
@import "../formReaction/reactionStepGeneric";
@import "../step_4/step_4";

.formReaction {
  min-height: calc(100% - $font-size-small - ($space-small * 2));
  display: flex;
  flex-direction: column;

  &__stepIdx {
    padding: $space-small/2 $space-small;
    text-align: right;
  }
  &__topDescription {
    padding: $space-small/2 $space-small;
  }
  &__form {
    height: 100%;
    width: 100%;
    padding: $space-small/2 $space-small;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    @include breakpointFirst {
      background-color: $color-blue;
      background-image: url("../../../asets/5a224075d268a2.3665670315121941658618.png");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--loading {
      filter: blur(1.5rem);
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    @include breakpointFirst {
      width: 100%;
      // margin: 4vh 0;
      padding: $space-small $space-large;
      border: 0.5px solid $color-grey;
    }
    @include breakpointNav {
      max-width: 500px;
      width: 100%;
    }
  }
  &__requestMessage {
    height: 100%;
    display: grid;
    place-items: center;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include breakpointFirst {
      justify-content: flex-start;
      column-gap: 4rem;
      min-width: 300px;
      width: 50%;
    }
    .btn--formReaction {
      width: 30%;
      padding: 0.5em 0;
    }
  }
}
