.reaction__textInputLabel {
  display: block;
  font-weight: $font-weight-bold;
}
.reaction__textInput {
  max-width: 250px;
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: $space-small/3;
  color: $color-white;
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  @include breakpointFirst {
    font-size: 2rem;
  }
}

.reaction__textInput input[type="date"]::-webkit-calendar-picker-indicator,
.reaction__textInput input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


.reaction__radioInputHeader {
  font-weight: $font-weight-bold;
}

.reaction__radioInput {
  width: 1.5em;
  height: 1.5em;
  margin-right: 2em;
  -webkit-appearance: none;
  transition-duration: 320ms;
  background-color: rgba(0, 0, 0, 0.3);
  &:checked {
    background-color: $color-white;
  }
}

.reaction__selectLabel {
  display: block;
  font-weight: $font-weight-bold;
}

.reaction__selectTop {
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-small/5;
  margin-bottom: $space-small/3;
  background-color: rgba(0, 0, 0, 0.3);
  .select__arrow,
  .select__arrow--up {
    width: 20px;
    height: 10px;
    background-color: $color-white;
    transition-duration: 320ms;
    clip-path: polygon(50% 80%, 90% 0, 100% 0, 50% 100%, 0 0, 10% 0);
  }

  .select__arrow--up {
    transform: rotate(180deg);
  }
}

.reaction__selectOptionsContainer {
  height: 4rem;
}

.reaction__selectOption {
  width: 15rem;
  border: 1px solid $color-grey;
  position: relative;
  z-index: 1;
  background-color: $color-white;
  padding: 0 0.6rem;
  color: $color-black;
  &:hover {
    background-color: $color-grey;
  }
}

.reaction__checkboxesHeader {
  margin-bottom: $space-small/2;
  font-weight: $font-weight-bold;
}

.reaction__checkboxecContainer {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;

  .reaction__checkboxLabel {
    display: block;
    letter-spacing: 1px;
    width: 45%;
    flex-grow: 1;
    .reaction__checkboxInput {
      display: none;
    }
    .reaction__checkboxStyle {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      text-align: center;
      padding: 0.5em 0;
      transition-duration: 320ms;
    }
  }
}

.numberInCheckbox {
  font-size: $font-size-xsmall;
  line-height: 6px;
  vertical-align: -0.4em;
}

.reaction__checkboxInput:checked + .reaction__checkboxStyle {
  background-color: $color-white;
  color: $color-black;
}

.reaction__error {
  width: fit-content;
  color: $color-red;
  font-size: $font-size-small;
  letter-spacing: 3px;
  line-height: $font-size-small;
  height: $font-size-small;
  font-weight: $font-weight-bold;
}

// input[type="date"]::-webkit-calendar-picker-indicator,
// input[type="time"]::-webkit-calendar-picker-indicator {
//   filter: invert(1);
// }
