.navItems {
  margin: $space-small;
  &:first-of-type {
    border-bottom: 1px solid black;
  }

  @include breakpointNav {
  }
  & .item {
    display: block;
    padding: $space-small/2 0;
    text-decoration: 0;
    color: $color-black;
    &:hover {
      background-color: $color-primary;
    }
    @include breakpointNav {
    }
  }
  & .item--log {
    @include breakpointNav {
    }
  }
}
