.hero {
  padding: 0;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url("../../../asets/hero_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
  }

  &:before {
    right: 0;
    width: 50%;
    transform: scaleX(-1);
  }

  &__opacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(90px, 17vw, 150px) 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: $space-small;
    text-align: center;
    color: $color-white;
    font-size: clamp(2.5rem, 7vw, 4rem);
  }

  .btn--hero {
    font-size: $font-size-small;
    padding: 0.5em 1.5em;
    color: $color-white;
  }
}
