.contactformContainer {
  margin: $space-large 0;
  @include breakpointFirst {
    width: 50%;
    margin: 0;
    margin-left: auto;
    padding: $space-small;
  }
  &__title {
    margin-bottom: $space-large;
    @include breakpointFirst {
      font-size: clamp(2rem, 4vw, 3rem);
    }
  }
  .contactForm {
    font-size: $font-size-small;
    @include breakpointFirst {
      font-size: $font-size-xsmall;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__container {
      width: 100%;
      @include breakpointFirst {
        width: 45%;
        font-size: $font-size-xsmall;
      }
    }
    &__label {
      display: block;
      margin-bottom: $space-small/2;
      font-weight: $font-weight-bold;
    }
    &__input {
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid black;
      resize: none;
      padding: 0.2rem;
      margin-bottom: $space-small;
    }

    &__inputContainer--textarea {
      @include breakpointFirst {
        width: 100%;
        margin-top: $space-small;
      }
      .contactForm__input--textarea {
        @include breakpointFirst {
        }
      }
    }

    input::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }

    textarea::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-family: $font-family-Open-Sans;
    }

    &__btn {
      display: flex;
      justify-content: center;
      padding: 1em 2em;
      width: 45%;
      margin-left: auto;

      @include breakpointFirst {
        margin-top: 1rem;
      }
    }
  }
}
