.contactformContainer {
  margin: $space-large auto;
  @include breakpointNav {
    width: 50%;
    margin: 0;
    margin-left: auto;
    padding: 7rem 4rem;
    box-shadow: -4px -2px 14px 11px white;
  }
  &__title {
    margin-bottom: $space-large;
    text-align: center;
    font-size: 2.7rem;
  }
  .contactForm {
    padding: 0 $space-small;
    position: relative;
    @include breakpointFirst {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__inputWrapper{
        width: 100%;
      @include breakpointFirst {
        width: 45%;
      }
    }
    &__container {
      width: 100%;
    }
    &__label {
      display: block;
      margin-bottom: $space-small/2;
      font-weight: $font-weight-bold;
    }
    &__input {
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid black;
      resize: none;
      padding: 0.2rem;
      &:focus {
        background-color: $color-neutral-light;
      }
    }

    &__inputContainer--textarea {
      @include breakpointFirst {
        width: 100%;
        margin-top: $space-small;
      }
    }

    input::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }

    textarea::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-family: $font-family-Open-Sans;
    }
    &__error {
      color: $color-red;
      height: $font-size-small;
      line-height: $font-size-small;
      font-size: $font-size-small;
      letter-spacing: 1.5px;
    }

    &__btn {
      width: 45%;
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-top: 1rem;
     
    }
  }
}
